    <header>     
      <ul>
        <li><h1>BABULES</h1> </li>
        <li><%= link_to "Categorias", categories_index_path %></li>
        <li><%= link_to "Transactions", transactions_index_path %></li>
        <li><%= link_to "Report Generator", transactions_report_generator_path %></li>
        <li><a href="#">Activities</a></li>
        <li><a href="#">Допомога</a></li>
        <li><a href="#">Admin</a></li>
      </ul>      
    </header>